
<!-- Landing page banner -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
  <div class="container">
    <h1>Rentachef brings <strong>great chefs</strong> directly to <strong>your home</strong></h1>
    <p>Made fresh, in the comfort of your home.</p>

<!-- Landing page search form -->
      <%= form_tag(chefs_path, :method => "get", class: 'form_inputs') do %>
        <%= text_field_tag(:location) %>
        <%= submit_tag("Find great chefs by location", class: "btn btn-success") %>
      <% end %>
  </div>
  <div class="location"></div>
</div>
