.label-abs {
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-chef {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.card-chef > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-chef h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-chef p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.text-dec-none {
  p {
    color: #757575;
  }
  color: #30adcc;
  text-decoration: none;
   &:hover {
      color: #27a1bc;
      text-decoration: none;
    }
}

.card-chef .card-chef-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-chef-infos .card-chef-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-chef .card-chef-pricing {
  color: #2b2b2b;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


.card-profile {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 max-width: 400px;
 margin: 30px 0 0 0;
 padding: 0;
 text-align: left;
}

.card-profile-text {
  padding: 0 0 20px 30px;
  position: relative;
}

.chef-show-avatar{
  position: absolute;
  right: 16px;
  top: -10px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
