// .card-category {
//   height: 180px;
//   // display: flex;
//   // flex-direction:block;
//   // justify-content: center;
//   // align-items: center;
//   color: #333333;
//   font-size: 19px;
//   font-weight: light;
//   // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 10px rgba(0,0,0,0.1);
//   padding: 15px;
// }

// .card-chef {
//   margin-top: 15px;
//   a {
//     color: #878787;
//     &:hover {
//       color: #b2b2b2;
//       text-decoration: none;
//     }
//     &:active {
//       color: #878787;
//     }
//   }
// }
.card-chef {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-chef > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-chef h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-chef p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-chef .card-chef-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-chef-infos .card-chef-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}



