input[type="range"] {
  width:200px;
  display: inline-block;
}

.range-slider__value {
  position: absolute;
  top: -2px;
  left: 122px;
}

.slider-position {
  position:relative;
}

#input-cuisine {
  width: 200px;
  height: 36px;
  padding-bottom: 5px;
  padding-top: 2px;

}

#input-location {
  width: 200px;
  height: 35px;
  padding-bottom: 5px;
  padding-top: 2px;
}

.range-slider {
  display: flex;
}

#rate-button {
  margin-left: 8px;
}
